---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-loving-maxwell","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-08-13T15:38:04.611405Z","id":"92e6a644-6a00-4762-ba84-41bff80a716b","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-loving-maxwell","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-08-13T15:38:04.611405Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 283.70561ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/92e6a644-6a00-4762-ba84-41bff80a716b
        method: GET
      response:
        body: '{"created_at":"2026-08-13T15:38:04.611405Z","id":"92e6a644-6a00-4762-ba84-41bff80a716b","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-loving-maxwell","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2026-08-13T15:38:04.735933Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.907533ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"volume_id":"92e6a644-6a00-4762-ba84-41bff80a716b","name":"tf-test-export-snapshot-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-08-13T15:38:05.196151Z","id":"a4b65366-291a-46f0-91d5-dfa349483350","name":"tf-test-export-snapshot-basic","parent_volume":{"id":"92e6a644-6a00-4762-ba84-41bff80a716b","name":"tf-volume-loving-maxwell","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-08-13T15:38:05.196151Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.288407ms
    - id: 4
      request:
        host: tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5658d07a-0194-4053-b7d6-d1cd97bc0ee9
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T153804Z
        url: https://tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-test-export-snapshot-3709738108171571020
            X-Amz-Request-Id:
                - txgc3bdf03d519c4234aa9e-006a7de4dc
        status: 200 OK
        code: 200
        duration: 1.057579101s
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/a4b65366-291a-46f0-91d5-dfa349483350
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-08-13T15:38:05.196151Z","id":"a4b65366-291a-46f0-91d5-dfa349483350","name":"tf-test-export-snapshot-basic","parent_volume":{"id":"92e6a644-6a00-4762-ba84-41bff80a716b","name":"tf-volume-loving-maxwell","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-08-13T15:38:05.196151Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.007937ms
    - id: 6
      request:
        host: tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 4da3f3c4-04ca-4ddd-8435-0137cc57b7dd
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T153805Z
        url: https://tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg2ced97d45773408695bb-006a7de4dd
        status: 200 OK
        code: 200
        duration: 277.524863ms
    - id: 7
      request:
        host: tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a944ee96-2888-4cd8-aa67-d23c522f9cb6
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T153805Z
        url: https://tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgf746520966cf450aac46-006a7de4dd
        status: 200 OK
        code: 200
        duration: 132.357141ms
    - id: 8
      request:
        host: tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - dcdb0748-ba3c-4b86-ab6a-7653ffdc0a48
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T153805Z
        url: https://tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txgc1bcc7f94805424a8e92-006a7de4dd</RequestId><HostId>txgc1bcc7f94805424a8e92-006a7de4dd</HostId><Resource>/tf-test-export-snapshot-3709738108171571020</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc1bcc7f94805424a8e92-006a7de4dd
        status: 404 Not Found
        code: 404
        duration: 124.94103ms
    - id: 9
      request:
        host: tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f393cd75-170a-445a-8528-5404875bc05c
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T153805Z
        url: https://tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-export-snapshot-3709738108171571020</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg94ffc886b7e14982b08a-006a7de4dd
        status: 200 OK
        code: 200
        duration: 263.890476ms
    - id: 10
      request:
        host: tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c4010196-d0c7-4b2e-91ce-517f9dedf8ce
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T153805Z
        url: https://tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg61b51e39913c450a9c9e-006a7de4de</RequestId><HostId>txg61b51e39913c450a9c9e-006a7de4de</HostId><Resource>/tf-test-export-snapshot-3709738108171571020</Resource><BucketName>tf-test-export-snapshot-3709738108171571020</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg61b51e39913c450a9c9e-006a7de4de
        status: 404 Not Found
        code: 404
        duration: 146.666368ms
    - id: 11
      request:
        host: tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d3b0f2fb-c6f0-486f-9d2f-f99c06f2d493
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T153806Z
        url: https://tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txg8ab2505ecdab4e18ad9b-006a7de4de</RequestId><HostId>txg8ab2505ecdab4e18ad9b-006a7de4de</HostId><Resource>/tf-test-export-snapshot-3709738108171571020</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg8ab2505ecdab4e18ad9b-006a7de4de
        status: 404 Not Found
        code: 404
        duration: 173.636574ms
    - id: 12
      request:
        host: tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9f3db82b-00c9-4f86-99a1-4b64c88b98ec
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T153806Z
        url: https://tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg20473ef86f18401ebe52-006a7de4de
        status: 200 OK
        code: 200
        duration: 56.068695ms
    - id: 13
      request:
        host: tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fec34467-64a3-4e6a-92e1-7ce75993a566
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T153806Z
        url: https://tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg1e538785c3d344ff8aef-006a7de4de</RequestId><HostId>txg1e538785c3d344ff8aef-006a7de4de</HostId><Resource>/tf-test-export-snapshot-3709738108171571020</Resource><BucketName>tf-test-export-snapshot-3709738108171571020</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg1e538785c3d344ff8aef-006a7de4de
        status: 404 Not Found
        code: 404
        duration: 200.535036ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"bucket":"tf-test-export-snapshot-3709738108171571020","key":"exported-snapshot.qcow2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/a4b65366-291a-46f0-91d5-dfa349483350/export-to-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-08-13T15:38:05.196151Z","id":"a4b65366-291a-46f0-91d5-dfa349483350","name":"tf-test-export-snapshot-basic","parent_volume":{"id":"92e6a644-6a00-4762-ba84-41bff80a716b","name":"tf-volume-loving-maxwell","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"exporting","tags":[],"updated_at":"2026-08-13T15:38:10.868211Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.321822211s
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/a4b65366-291a-46f0-91d5-dfa349483350
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-08-13T15:38:05.196151Z","id":"a4b65366-291a-46f0-91d5-dfa349483350","name":"tf-test-export-snapshot-basic","parent_volume":{"id":"92e6a644-6a00-4762-ba84-41bff80a716b","name":"tf-volume-loving-maxwell","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"status":"exporting","tags":[],"updated_at":"2026-08-13T15:38:10.868211Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.92695ms
[...]
    - id: 24
      request:
        host: tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 2173875f-b019-4bd7-9944-361ca0c6838f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T153822Z
        url: https://tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-export-snapshot-3709738108171571020</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>exported-snapshot.qcow2</Key><LastModified>2026-08-13T15:38:17.000Z</LastModified><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag><Size>196760</Size><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><StorageClass>STANDARD</StorageClass><ChecksumAlgorithm>CRC32</ChecksumAlgorithm><ChecksumType>FULL_OBJECT</ChecksumType></Contents></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg3284c58283e8482fa071-006a7de4ee
        status: 200 OK
        code: 200
        duration: 259.20697ms
[...]
    - id: 38
      request:
        host: tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - dd1caeb6-69cb-4d87-b2e7-df4e37b7700b
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T153825Z
        url: https://tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud/exported-snapshot.qcow2
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/octet-stream
            Etag:
                - '"0345725c6e663688db0a073eb0aca7e2"'
            Last-Modified:
                - Thu, 13 Aug 2026 15:38:17 GMT
            X-Amz-Request-Id:
                - txga42734e94baf4ff8be17-006a7de4f1
        status: 200 OK
        code: 200
        duration: 199.318658ms
[...]
    - id: 40
      request:
        host: tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1094e50d-70f3-42cc-a5c6-fcd23a758222
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T153825Z
        url: https://tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud/exported-snapshot.qcow2?tagging=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <Tagging><TagSet></TagSet></Tagging>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg27b56798204f436697b2-006a7de4f1
        status: 200 OK
        code: 200
        duration: 230.181876ms
    - id: 41
      request:
        host: tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7ff4ea45-d2c9-4558-a17a-edbaf385237e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T153825Z
        url: [...]
[...]
    - id: 64
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/a4b65366-291a-46f0-91d5-dfa349483350
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"a4b65366-291a-46f0-91d5-dfa349483350","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 41.173405ms
[...]
    - id: 66
      request:
        host: tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 44c302af-9d59-4a02-86c0-f469d46ff5fd
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T153829Z
        url: https://tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud/?versions=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListVersionsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-export-snapshot-3709738108171571020</Name><Prefix></Prefix><IsTruncated>false</IsTruncated><KeyMarker></KeyMarker><MaxKeys>1000</MaxKeys><VersionIdMarker></VersionIdMarker><Version xmlns=""><IsLatest>true</IsLatest><Key>exported-snapshot.qcow2</Key><LastModified>2026-08-13T15:38:17.000Z</LastModified><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><VersionId>1786635497080344</VersionId><Size>196760</Size><StorageClass>STANDARD</StorageClass><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag><ChecksumAlgorithm>CRC32</ChecksumAlgorithm><ChecksumType>FULL_OBJECT</ChecksumType></Version></ListVersionsResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg93d8434394ae4ae6a2fe-006a7de4f5
        status: 200 OK
        code: 200
        duration: 255.640367ms
[...]
    - id: 69
      request:
        host: tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5e8e7e1d-7d41-4b2d-ae1f-89b71aa33e65
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T153829Z
        url: https://tf-test-export-snapshot-3709738108171571020.s3.fr-par.scw.cloud/exported-snapshot.qcow2?versionId=1786635497080344&x-id=DeleteObject
        method: DELETE
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg9341706d545043f9ad19-006a7de4f6
        status: 204 No Content
        code: 204
        duration: 377.930192ms
[...]
