---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-thirsty-faraday","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-08-13T15:40:21.955668Z","id":"b6b593f6-19a3-49cb-bd38-427e19aea31c","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-thirsty-faraday","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-08-13T15:40:21.955668Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.54795ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/b6b593f6-19a3-49cb-bd38-427e19aea31c
        method: GET
      response:
        body: '{"created_at":"2026-08-13T15:40:21.955668Z","id":"b6b593f6-19a3-49cb-bd38-427e19aea31c","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-thirsty-faraday","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2026-08-13T15:40:22.117977Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.668895ms
[...]
    - id: 3
      request:
        host: tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d32c3ead-bedc-4917-aa11-bdf82a36b397
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T154021Z
        url: https://tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud/
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - /tf-test-scaleway-export-block-snapshot-299389838000486430
            X-Amz-Request-Id:
                - txg164eb746407341a49cd3-006a7de565
        status: 200 OK
        code: 200
        duration: 5.174872118s
    - id: 4
      request:
        host: tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - bd868a87-6c2c-42c8-9f23-5fc2f798b9fb
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Acl:
                - private
            X-Amz-Checksum-Crc32:
                - AAAAAA==
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T154026Z
        url: https://tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud/?acl=
        method: PUT
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg9b182f6efef14f7eb7fc-006a7de56a
        status: 200 OK
        code: 200
        duration: 408.658328ms
    - id: 5
      request:
        host: tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 28886309-1b41-46dc-b0ff-b067b6590a43
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T154027Z
        url: https://tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud/?acl=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AccessControlPolicy xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><AccessControlList><Grant><Grantee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="CanonicalUser"><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgff7fc0648a8449d5bef6-006a7de56b
        status: 200 OK
        code: 200
        duration: 141.707421ms
    - id: 6
      request:
        host: tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c9fc66d6-2f3d-430b-aa53-2f8b4c138d1a
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T154027Z
        url: https://tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud/?object-lock=
        method: GET
      response:
        body: <Error><Code>ObjectLockConfigurationNotFoundError</Code><Message>Object Lock configuration does not exist for this bucket</Message><RequestId>txg2a552eb1eed74fb297c5-006a7de56b</RequestId><HostId>txg2a552eb1eed74fb297c5-006a7de56b</HostId><Resource>/tf-test-scaleway-export-block-snapshot-299389838000486430</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg2a552eb1eed74fb297c5-006a7de56b
        status: 404 Not Found
        code: 404
        duration: 135.721663ms
    - id: 7
      request:
        host: tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8a8e2a55-4af0-44c9-83e9-b7026b9e3996
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T154027Z
        url: https://tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-block-snapshot-299389838000486430</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg77e1f87ff3dd4225acf6-006a7de56b
        status: 200 OK
        code: 200
        duration: 318.951015ms
    - id: 8
      request:
        host: tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 525f431e-223e-43c2-af4c-8d9ca774d827
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T154027Z
        url: https://tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud/?tagging=
        method: GET
      response:
        body: <Error><Code>NoSuchTagSet</Code><Message>The TagSet does not exist</Message><RequestId>txg26e933fff67b4b7297b1-006a7de56b</RequestId><HostId>txg26e933fff67b4b7297b1-006a7de56b</HostId><Resource>/tf-test-scaleway-export-block-snapshot-299389838000486430</Resource><BucketName>tf-test-scaleway-export-block-snapshot-299389838000486430</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg26e933fff67b4b7297b1-006a7de56b
        status: 404 Not Found
        code: 404
        duration: 130.025713ms
    - id: 9
      request:
        host: tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 07f9613c-f50d-4a79-8e84-5da40389c7b0
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T154027Z
        url: https://tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud/?cors=
        method: GET
      response:
        body: <Error><Code>NoSuchCORSConfiguration</Code><Message>The CORS configuration does not exist</Message><RequestId>txgbbd974d5d0ea4d4a90c8-006a7de56c</RequestId><HostId>txgbbd974d5d0ea4d4a90c8-006a7de56c</HostId><Resource>/tf-test-scaleway-export-block-snapshot-299389838000486430</Resource></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgbbd974d5d0ea4d4a90c8-006a7de56c
        status: 404 Not Found
        code: 404
        duration: 172.518961ms
    - id: 10
      request:
        host: tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - fa6e8a9f-6af6-46b3-943f-0e27bbd28e51
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T154028Z
        url: https://tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud/?versioning=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <VersioningConfiguration><Status></Status></VersioningConfiguration>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txgae1d0616ea774eaeb35d-006a7de56c
        status: 200 OK
        code: 200
        duration: 162.696017ms
    - id: 11
      request:
        host: tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 40a278f4-f2a9-4e94-a401-a28488647b27
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T154028Z
        url: https://tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud/?lifecycle=
        method: GET
      response:
        body: <Error><Code>NoSuchLifecycleConfiguration</Code><Message>The lifecycle configuration does not exist</Message><RequestId>txg85200883f2f24dddad55-006a7de56c</RequestId><HostId>txg85200883f2f24dddad55-006a7de56c</HostId><Resource>/tf-test-scaleway-export-block-snapshot-299389838000486430</Resource><BucketName>tf-test-scaleway-export-block-snapshot-299389838000486430</BucketName></Error>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txg85200883f2f24dddad55-006a7de56c
        status: 404 Not Found
        code: 404
        duration: 130.570101ms
    - id: 12
      request:
        host: tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud
        body: "4\r\ntest\r\n0\r\nx-amz-checksum-crc32:2H9+DA==\r\n\r\n"
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 8016f53c-f98a-4618-b63d-6c51e46bec9e
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/octet-stream
            X-Amz-Content-Sha256:
                - STREAMING-UNSIGNED-PAYLOAD-TRAILER
            X-Amz-Date:
                - 20260813T154028Z
            X-Amz-Decoded-Content-Length:
                - "4"
            X-Amz-Trailer:
                - x-amz-checksum-crc32
        url: https://tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?x-id=PutObject
        method: PUT
      response:
        body: ""
        headers:
            Etag:
                - '"098f6bcd4621d373cade4e832627b4f6"'
            X-Amz-Checksum-Crc32:
                - 2H9+DA==
            X-Amz-Checksum-Type:
                - FULL_OBJECT
            X-Amz-Request-Id:
                - txg97fce7d4f5e24d528a9a-006a7de56c
        status: 200 OK
        code: 200
        duration: 6.58510074s
    - id: 13
      request:
        host: tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 409ab7d5-e7bf-4dea-beae-69df23f8134f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T154035Z
        url: https://tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2
        method: HEAD
      response:
        body: ""
        headers:
            Content-Type:
                - application/octet-stream
            Etag:
                - '"098f6bcd4621d373cade4e832627b4f6"'
            Last-Modified:
                - Thu, 13 Aug 2026 15:40:28 GMT
            X-Amz-Request-Id:
                - txg07a40311b6a147f3a388-006a7de573
        status: 200 OK
        code: 200
        duration: 170.739574ms
    - id: 14
      request:
        host: tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5fc9abae-7402-4e71-9e53-80c6b7fe63a5
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T154035Z
        url: https://tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?tagging=
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <Tagging><TagSet></TagSet></Tagging>
        headers:
            Content-Type:
                - text/xml; charset=utf-8
            X-Amz-Request-Id:
                - txg62ed1a68554042c48d9e-006a7de573
        status: 200 OK
        code: 200
        duration: 163.722099ms
    - id: 15
      request:
        host: tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - d797f6a0-b384-426f-a3eb-428d26dbf31f
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T154035Z[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"volume_id":"b6b593f6-19a3-49cb-bd38-427e19aea31c","name":"test-acc-export-block-snapshot-qcow2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-08-13T15:40:35.729737Z","id":"292f980b-5807-4383-965e-069a06655b8b","name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"b6b593f6-19a3-49cb-bd38-427e19aea31c","name":"tf-volume-thirsty-faraday","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-08-13T15:40:35.729737Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.571981ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/292f980b-5807-4383-965e-069a06655b8b
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-08-13T15:40:35.729737Z","id":"292f980b-5807-4383-965e-069a06655b8b","name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"b6b593f6-19a3-49cb-bd38-427e19aea31c","name":"tf-volume-thirsty-faraday","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-08-13T15:40:35.729737Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.280783ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"bucket":"tf-test-scaleway-export-block-snapshot-299389838000486430","key":"test-acc-export-block-snapshot-qcow2"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/292f980b-5807-4383-965e-069a06655b8b/export-to-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-08-13T15:40:35.729737Z","id":"292f980b-5807-4383-965e-069a06655b8b","name":"test-acc-export-block-snapshot-qcow2","parent_volume":{"id":"b6b593f6-19a3-49cb-bd38-427e19aea31c","name":"tf-volume-thirsty-faraday","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"exporting","tags":[],"updated_at":"2026-08-13T15:40:40.915016Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.185183443s
[...]
    - id: 27
      request:
        host: tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f814f36a-8cfa-4c1a-afd5-8c8c83cfe43e
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T154049Z
        url: https://tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud/
        method: GET
      response:
        body: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>tf-test-scaleway-export-block-snapshot-299389838000486430</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>test-acc-export-block-snapshot-qcow2</Key><LastModified>2026-08-13T15:40:43.000Z</LastModified><ETag>&#34;0345725c6e663688db0a073eb0aca7e2&#34;</ETag><Size>196760</Size><Owner><DisplayName>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</DisplayName><ID>105bdce1-64c0-48ab-899d-868455867ecf:105bdce1-64c0-48ab-899d-868455867ecf</ID></Owner><StorageClass>STANDARD</StorageClass><ChecksumAlgorithm>CRC32</ChecksumAlgorithm><ChecksumType>FULL_OBJECT</ChecksumType></Contents></ListBucketResult>
        headers:
            Content-Type:
                - application/xml
            X-Amz-Request-Id:
                - txgc08a4b5105a8433da322-006a7de581
        status: 200 OK
        code: 200
        duration: 189.916046ms
[...]
    - id: 52
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/292f980b-5807-4383-965e-069a06655b8b
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"292f980b-5807-4383-965e-069a06655b8b","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.300262ms
    - id: 53
      request:
        host: api.scaleway.com
        body: '{"bucket":"tf-test-scaleway-export-block-snapshot-299389838000486430","key":"test-acc-export-block-snapshot-qcow2","name":"test-acc-block-snapshot-qcow2","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/import-from-object-storage
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-08-13T15:40:54.549854Z","id":"f15c8dbc-ed42-43ea-a19e-e01095bb7ff4","name":"test-acc-block-snapshot-qcow2","parent_volume":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-08-13T15:40:54.549854Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.137846519s
[...]
    - id: 58
      request:
        host: api.scaleway.com
        body: '{"name":"test-block-volume-from-snapshot","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_snapshot":{"size":null,"snapshot_id":"f15c8dbc-ed42-43ea-a19e-e01095bb7ff4"},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-08-13T15:41:00.073409Z","id":"1c6e87a4-df06-4d40-b60d-4db66561760e","kms_key_id":null,"last_detached_at":null,"name":"test-block-volume-from-snapshot","parent_snapshot_id":"f15c8dbc-ed42-43ea-a19e-e01095bb7ff4","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-08-13T15:41:00.073409Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.445968ms
[...]
    - id: 96
      request:
        host: tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud
        body: ""
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 3211cf71-4f1d-4adb-b38b-a563deb666a7
            Amz-Sdk-Request:
                - attempt=1; max=3
            X-Amz-Content-Sha256:
                - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            X-Amz-Date:
                - 20260813T154109Z
        url: https://tf-test-scaleway-export-block-snapshot-299389838000486430.s3.fr-par.scw.cloud/test-acc-export-block-snapshot-qcow2?x-id=DeleteObject
        method: DELETE
      response:
        body: ""
        headers:
            X-Amz-Request-Id:
                - txg4d5c3aae7e9c40cfbb98-006a7de595
        status: 204 No Content
        code: 204
        duration: 399.521916ms
[...]
