---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"tf-volume-compassionate-chaplygin","perf_iops":5000,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","from_empty":{"size":10000000000},"tags":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"created_at":"2026-08-13T15:40:21.990489Z","id":"314ee335-282d-46d6-8a9d-3ca5ba5c0cfa","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-compassionate-chaplygin","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"creating","tags":[],"type":"sbs_5k","updated_at":"2026-08-13T15:40:21.990489Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 358.794757ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/314ee335-282d-46d6-8a9d-3ca5ba5c0cfa
        method: GET
      response:
        body: '{"created_at":"2026-08-13T15:40:21.990489Z","id":"314ee335-282d-46d6-8a9d-3ca5ba5c0cfa","kms_key_id":null,"last_detached_at":null,"name":"tf-volume-compassionate-chaplygin","parent_snapshot_id":null,"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","references":[],"size":10000000000,"specs":{"class":"sbs","perf_iops":5000},"status":"available","tags":[],"type":"sbs_5k","updated_at":"2026-08-13T15:40:22.118525Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.059557ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"volume_id":"314ee335-282d-46d6-8a9d-3ca5ba5c0cfa","name":"tf-test-block-snapshot-basic","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","tags":[],"public":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"class":"sbs","created_at":"2026-08-13T15:40:22.444472Z","id":"4e9524cd-29b8-432c-b129-f380b11cfdaf","name":"tf-test-block-snapshot-basic","parent_volume":{"id":"314ee335-282d-46d6-8a9d-3ca5ba5c0cfa","name":"tf-volume-compassionate-chaplygin","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-08-13T15:40:22.444472Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.900257ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/4e9524cd-29b8-432c-b129-f380b11cfdaf
        method: GET
      response:
        body: '{"class":"sbs","created_at":"2026-08-13T15:40:22.444472Z","id":"4e9524cd-29b8-432c-b129-f380b11cfdaf","name":"tf-test-block-snapshot-basic","parent_volume":{"id":"314ee335-282d-46d6-8a9d-3ca5ba5c0cfa","name":"tf-volume-compassionate-chaplygin","status":"available","type":"sbs_5k"},"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","public":false,"references":[],"size":10000000000,"status":"creating","tags":[],"updated_at":"2026-08-13T15:40:22.444472Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.846159ms
[...]
    - id: 12
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/4e9524cd-29b8-432c-b129-f380b11cfdaf
        method: GET
      response:
        body: '{"message":"resource is not found","resource":"snapshot","resource_id":"4e9524cd-29b8-432c-b129-f380b11cfdaf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 175.877579ms
[...]
